<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Adicione um <br />
      pensamento novo:
    </h2>
  </header>
  <form [formGroup]="orderForm">
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="conteudo"
      placeholder="Digite o pensamento"
    />
    <div class="mensagem__erro"
      *ngIf="orderForm.get('conteudo')?.errors && orderForm.get('conteudo')?.touched">
      Pensamento é obrigatório!
    </div>

    <label for="autoria">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="autoria"
      formControlName="autoria"
      placeholder="Digite a autoria ou fonte"
    />
    <div class="mensagem__erro"
      *ngIf="orderForm.get('autoria')?.errors?.['required'] && orderForm.get('autoria')?.touched">
      Autoria é obrigatória!
    </div>
    <div class="mensagem__erro"
      *ngIf="orderForm.get('autoria')?.errors?.['minlength'] && orderForm.get('autoria')?.touched">
      Autoria deve ter no mínimo 5 caracteres!
    </div>

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" formControlName="modelo" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ orderForm.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ orderForm.get('autoria')?.value }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" formControlName="modelo" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo2.png"
            alt="Aspas azul-claras"
          />
          <p class="conteudo">{{ orderForm.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ orderForm.get('autoria')?.value }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" formControlName="modelo" />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/modelo3.png"
            alt="Aspas verdes"
          />
          <p class="conteudo">{{ orderForm.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ orderForm.get('autoria')?.value }}</b></p>
        </div>
      </div>
    </div>

    <div class="acoes">
      <div class="acoes">
        <button
          (click)="criarPensamento()"
          [disabled]="!orderForm.valid"
          [ngClass]="enableButton()">
          Save</button>
        <button (click)="cancelar()" class="botao">Cancel</button>
      </div>
    </div>
  </form>
</section>
